:root{   
    --fuente_regular:400;
    --fuente_semibold:600;
    --fuente_extrabold:800;
    --fuente_black:900;

    --fuente_cv_tamanio_titulo_1:22pt;
    --fuente_cv_tamanio_titulo_2:18pt;
    --fuente_cv_tamanio_titulo_3:12pt;
    --fuente_cv_tamanio_titulo_4:10.5pt;
    --fuente_cv_tamanio_titulo_5:8pt;

    --color_azul_1:#072737;
    --color_azul_0:#0B3B53;
    --color_azul_-1:#1675A5;
    --color_azul_-2:#33A9E4;

    --color_verde_1:#073829;
    --color_verde_0:#0B543D;
    --color_verde_-1:#16A678;
    --color_verde_-2:#33E4AC;

    --color_negro:#1A1A1E;
    --color_gris_1:#60606F;
    --color_gris_0:#AEAEB9;
    --color_gris_-1:#E4E4E8;
    --color_blanco:#F3F3F5;
}


.body-cv {
    width: 21cm;
}

html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
}

@media print {

    @page {
        size: A4 portrait;
        margin: 0;
        print-color-adjust: exact;
        /* Otros ajustes de @page */
    }




    .body-cv {
        font-family: serif;
        margin: 0;

        color: black;
        height: 100%;
        display: flex;
        justify-content: start;
        font-family: 'Roboto', sans-serif;
        font-size: var(--fuente_cv_tamanio_titulo_4);
        font-weight: var(--fuente_regular);

        h1{
            font-size: var(--fuente_cv_tamanio_titulo_1);
        }

        h2{
            font-size: var(--fuente_cv_tamanio_titulo_2);
        }

        > .left-col, .right-col{
            height: 29.7cm;
            padding: 0.7cm 0.5cm;
        }

        > .left-col {
            background-color: #E6E6E6;
            width: 35%;

            > h1{
                font-weight: var(--fuente_extrabold);
                margin-bottom: 0.7cm;
            }
    
            > h2{
                font-weight: var(--fuente_semibold);
                margin-bottom: 0.7cm;
            }

            > .left-col__personal-details{
                display: flex;
                flex-direction: column;
                row-gap: 7pt;
                margin-bottom: 30pt;

                .left-col__personal-detail-item{
                    display: flex;
                    align-items: center;
                    column-gap: 5pt;
    
                    > img{
                        height: 20pt;
                    }
    
                    > p{
                        font-size: var(--fuente_cv_tamanio_titulo_3);
                        font-weight: var(--fuente_semibold);
                    }
                }
            }

            > .left-col__text-block{
                //background-color: green;
                display: flex;
                flex-direction: column;
                row-gap: 10pt;
                margin-bottom: 20pt;

                > div{
                    display: flex;
                    column-gap: 15pt;
                    align-items: center;
                    //background-color: yellow;
                    
                    >h2{
                        font-weight: var(--fuente_semibold);
                    }

                    > span{
                        background-color: black;
                        height: 5pt;
                        flex-grow: 1;
                    }
                }
                > p{
                    line-height: 1.15;
                }
            }
            
        }

        > .right-col{
            background-color: white;
            width: 65%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 3.5pt;
            

            > .right-col__title{
                background-color: black;
                padding: 3pt 8pt;
                font-size: 11pt;
                font-weight: var(--fuente_semibold);
                color: white;
                //margin-bottom: 10pt;
            }

            > .right-col__spacer{
                display: flex;
                flex-direction: column;
                row-gap: 10pt;
                width: 100%;
                margin-bottom: 8pt;
            }


            .right-col__meta-header{
                font-size: var(--fuente_cv_tamanio_titulo_4);
                display: flex;
                justify-content: space-between;
                //background-color: red;
                width: 100%;
                .right-col__meta-header-text{
                    //background-color: red;
                    line-height: 15pt;
                    h3{
                        text-decoration: underline;
                        font-weight: var(--fuente_extrabold);
                    }

                    strong{
                        font-weight: var(--fuente_extrabold);
                    }
                }

                .right-col__meta-header-aside{
                    //background-color: yellow;
                    width: 60pt;
                    font-size: var(--fuente_cv_tamanio_titulo_5);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-weight: var(--fuente_extrabold);
                    text-align: end;
                }

                
            }

            .right-col__experience-item{
                font-size: var(--fuente_cv_tamanio_titulo_4);
                display: flex;
                flex-direction: column;
                row-gap: 5pt;
                
                .right-col__experience-description{
                    font-size: var(--fuente_cv_tamanio_titulo_4);
                    ul{
                        list-style: none; /* 1. Quitamos los marcadores por defecto de la lista */
                        display: flex;
                        flex-direction: column;
                        row-gap: 5pt;
                        li{
                            position: relative;
                            line-height: 1.15;
                            padding-left: 5pt;
                        }
                        li::before {
                            content: '- ';
                            position: absolute;
                            left: 0;
                        }
                    }
                }

                .right-col__experience_skills{
                    //background-color: red;
                    display: flex;
                    column-gap: 5pt;
                    line-height: 1.2;
                    > p:first-child{
                        font-weight: var(--fuente_extrabold);
                    }

                    > p:nth-child(2){
                        font-style:italic;
                    }
                }
            }
        }

    }
}