.job-card, .project-card{
    background-color: red;
    font-size: var(--fuente_tamanio_titulo_4);
    width: 100%;
    box-sizing: border-box;
    column-gap: 0.8rem; 
    row-gap: 0.8rem;
    padding: 1rem;
    border-radius: 10px;

    > p{
        font-size: var(--fuente_tamanio_titulo_5);
    }

    > div.cont-info{
        width: auto;
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;

        > h3{
            font-weight: var(--fuente_extrabold);
        }
    }
}

.job-card{  
    display: flex;    
    > p{
        flex-shrink: 0;
    }

    > div.cont-info{
        flex: 1 1 auto;
    }
}

.project-card{
    display: grid;
    grid-template-areas:
    "cont_img date_to_date"
    "cont_img cont_info"
    "skill_label skill_label"
    ;

    > p{
        grid-area: date_to_date;
    }

    > div.cont-img{
        grid-area: cont_img;
        background-color: black;
        width: 130px;
        aspect-ratio: 1/1;
    }

    > div.cont-info{
        grid-area: cont_info;
    }

    > div:last-child{
        grid-area: skill_label;
    }

}


@media only screen and (max-width: 979px) { /* Pantallas medianas 980*/
    .project-card{
        grid-template-areas:
        "cont_img date_to_date"
        "cont_img cont_info"
        "skill_label skill_label"
        ;
    }

    .job-card{
        flex-direction: column;
    }
}

@media only screen and (max-width: 679px) { /* Pantallas pequeñas 680*/
}

@media only screen and (max-width: 379px) { /* Pantallas muy pequeñas 380*/
}
