.job-card{
    background-color: red;
    font-size: var(--fuente_tamanio_titulo_4);
    display: flex;
    width: 100%;
    box-sizing: border-box;
    column-gap: 0.8rem; 
    padding: 1rem;
    border-radius: 10px;

    > p{
        font-size: var(--fuente_tamanio_titulo_5);
        flex-shrink: 0;
        
    }

    > div{
        width: auto;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;

        > h3{
            font-weight: var(--fuente_extrabold);
        }
    }

}

