.skill-label{
    background-color: var(--color_verde_1);
    color: var(--color_verde_-2);
    padding: 2px 0.8rem;
    border-radius: 1rem;
    font-size: var(--fuente_tamanio_titulo_5);
    font-weight: var(--fuente_semibold);
}

.skill-label-container{
    display: flex;
    align-items:flex-start;
    column-gap: 0.5rem;
    row-gap: 5px;
    //background-color: yellow;
    flex-wrap: wrap;
}